$border_color: #DAE1E6;
$icon_color: #424D55;
$title_color: #424D55;
$subtitle_color: #96A2AA;
$brand_primary_color: #0E8CE6;
$brand_primary_hover_color: #1378C0;
$neutral_30: #96A2AA;
$neutral_hover_30: #778690;
